* {
  font-family: Arial;
}
header{
 	border: 1px solid #f2f2f2;
 }

@media (max-width: 426px) {
    .container {
        margin-top:0px !important;
    }
    .container > .row{
        padding:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;
        
    }            
    .section{
        width:104%;
    }
    .menu-items{
        padding-left:0;
    }
}